tr:nth-child(even) {
    background: lightgrey;
}

th {
    background-color: aquamarine; color: red
}
tr:hover {
    background-color: lightyellow;
}

div#supermaria {
    align-items: left; 
    width: 50%; margin: 0 auto;
}

div#supermaria> p {
    font-style: italic
}

div#ostap {
    background-color: violet;
    width: 50%
}

.container2 {
    height: 100px;
}

.container3 {
    width: 100px;
}

.container {
    background-color: black ;
    border-width: 10px;
    border-color: red ;
    border-style: solid
}


.container#supermaria {
    background-color: black !important;
    border-width: 10px;
    border-color: blue ;
    border-style: solid
}

/* #one {
   text-align: right 
} */
head > {
    text-align: left
}

.class1 {
      background-color: aquamarine; color: red; 
  }

.another_class {
    border: black;
}

.td-class {
    background-color: blue;
}

