body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
  }

div#supermaria {
    width: 50%; margin: 0 auto;
}

div#supermaria> p {
    text-align: left; 
    font-style: italic
}

div#supermaria> img {
    width:300x; height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#FB> p {
    text-align: center; 
    }

div#FBref> {
    margin: 0 auto;
}

a#link> {
    margin: 0 auto;
    color: red;
}
    

 tr:nth-child(even) {
    background: lightgrey;
}

th {
    background-color: aquamarine; color: red
}
tr:hover {
    background-color: lightyellow;
}

div#ostap {
    background-color: violet;
    width: 50%
}

.container2 {
    height: 100px;
}

.container3 {
    width: 100px;
}

.container {
    background-color: black ;
    border-width: 10px;
    border-color: red ;
    border-style: solid
}


.container#supermaria {
    background-color: black !important;
    border-width: 10px;
    border-color: blue ;
    border-style: solid
}

.class1 {
      background-color: aquamarine; color: red; 
  }

.another_class {
    border: rgb(168, 157, 157);
}

.td-class {
    background-color: blue;
}

